.nav-bar{
    color: white;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 10px 40px;
    background: transparent;
    position: fixed;
    
    align-items: center;
}

.nav-left a{
   padding-left: 15px; 
}

.nav-right a{
    padding-right: 15px; 
    cursor: pointer;
    

 }

 /*User login section*/
.user-login-container{
    width: 25%;
    height: 60vh;
    position: absolute;
    right: 0;
    top: 10%;
    background-color: rgb(245, 245, 245);
    border: 1px solid rgba(0, 0, 0, 0.384);
    display: block;
}

.user-login-container-none{
    display: none;
}

.user-login-container div{
    padding-top: 65px;
    text-align: center;
    width: 100%;
    
}
.user-login-container div p{
    padding: 0px 30px;
}

.user-login-container button{
    padding: 15px;
    padding-left: 45px;
    cursor: pointer;
}

.user-login-container i{
    position: absolute;
    margin: 10px 10px;
    font-size: 30px;
    color: rgb(248, 81, 3);
}
.user-login-container a{
    color: black;
    text-decoration: none;
}

/*User shoppıng bag */
.user-shopping-bag{
    width: 25%;
    height: 60vh;
    position: absolute;
    right: 0;
    top: 10%;
    background-color: rgb(245, 245, 245);
    border: 1px solid rgba(0, 0, 0, 0.397);
    display: block;
}

.buybtn{
    display: flex;
    position: absolute;
    padding: 15px 15px 15px 50px;
    cursor:pointer;
    bottom:4%;
    width: 100%;
    justify-content: center;
    
    
}

.user-shopping-bag-none{
    display: none;
}

.user-shopping-bag div{
    width: 100%;
    text-align: center;
}

/*landing bg*/
.first-page-landing{
    width: 100%;
    height: 100vh;
}
.landing-bg{
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100vh;
}

/*SECOND PAGE*/

.second-page-flex{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    justify-items: center;
    padding: 30px 80px;
    
    
}

.second-page-img{
    width: 50%;
   
}

.second-page-img img{
    
    width: 100%;
    height: 90vh;
    
}

.second-page-list{
    width: 50%;
    
    
   
    align-items: center;
}

.second-page-list ul{
    
    width: 100%;
    height: 90vh;
    padding-left: 40%;
}

.second-page-list ul li{
    padding-top: 50px;
    width:0%;
    
    list-style: none;
    font-size: 25px;
    
    cursor: pointer;
    
}

/*THİRD PAGE CAROUSEL*/

.image-slider{
    
    width: 40%;
    
}

.third-page-header{
    position: absolute;
    margin-left: 10%;
    top: 10%;
}

/*Fourth page*/

.fourth-page-banner{
    position: absolute;
    top: 10%;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.fourth-page-banner input{
    padding: 15px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(197, 197, 197);
}

.fourth-page-banner input:hover{
    background-color:rgb(245, 245, 245); ;
    cursor: pointer;
}

.footer{
    position: absolute;
    width: 100%;
    height: 65vh;
    bottom: 0;
    background-color: rgb(235, 235, 235);
}

.footer-brand-name{
    width: 100%;
    
    text-align: center;
    padding-top: 20px;
}

.footer-box{
    display: flex;
    justify-content: space-around;
    padding: 80px;
    width: 100%;
    
}

.footer-box ul{
    padding: 5px;
    list-style: none;
}
.footer-box ul li{
    padding-top: 5px;
}

.footer-box input{
    cursor: pointer;
    margin-top: 10px;
    padding: 10px;
    width: 330px;
}

.end{
    width: 100%;
    display: flex;
    justify-content: space-around;
    color: rgba(10, 10, 10, 0.26);
    font-size: 12px;
    border-top: 1px solid rgb(189, 189, 189);
    padding-top: 15px;
}

.end ul{
    list-style: none;
    display: flex;
}

.end ul li{
    margin-left: 20px;
    
    
}